{% extends 'base.html.twig' %}

{% block title %}Canticum Novum | Home{% endblock %}
{% block body %}
	<div class="homepage">
		<!-- Header -->
		{% include 'header.html.twig' %}

		<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>{{'welcome'|trans}}</h2>
				</header>
					{{'welcome_message'|trans|raw}}
				<hr />
				<div class="row">
					{#<section class="6u">
						<span class="pennant"><span class="fa fa-calendar"></span></span>
						<h3>Calendar</h3>
						<p>
							Check out our calendar.
						</p>
						<a href="/calendar" class="button button-style1">Read More</a>
					</section>#}
					<section class="6u">
						<span class="pennant"><span class="fa fa-youtube"></span></span>
						<h3>Videos</h3>
						<p>
							{{'youtube'|trans}}
						</p>
						<a href="https://www.youtube.com/user/canticumnovumstb2" target="_blank" class="button button-style1">{{'go'|trans}}</a>
					</section>
					{#<section class="6u">
						<span class="pennant"><span class="fa fa-globe"></span></span>
						<h3>Tours</h3>
						<p>
							See where we were.
						</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>#}
					{#<section class="6u">
						<span class="pennant"><span class="fa fa-picture-o"></span></span>
						<h3>Photo Galleries</h3>
						<p>
							See where we were.
						</p>
						<a href="/gallery" class="button button-style1">Read More</a>
					</section>#}

				</div>
			</div>
		</div>

		<!-- Main -->
		<!--<div id="main">
			<div id="content" class="container">

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic01.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>
							In posuere eleifend odio. Quisque semper augue mattis wisi.
							Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.
							Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
						</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic02.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>
							In posuere eleifend odio. Quisque semper augue mattis wisi.
							Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.
							Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
						</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic03.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>
							In posuere eleifend odio. Quisque semper augue mattis wisi.
							Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.
							Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
						</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic04.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>
							In posuere eleifend odio. Quisque semper augue mattis wisi.
							Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.
							Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
						</p>
					</section>				
				</div>

			</div>
		</div>-->

		<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>
						O sing unto the Lord a new song: sing unto the Lord,
						all the earth. - Psalm 96:1
					</blockquote>
				</section>
			</div>
		</div>

		<!-- Footer -->
		{% include 'footer.html.twig' %}

	</div>
{% endblock %}
