<html>
	{% block head %}
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
	{% endblock %}
	{% block body %}
		<body>
<h3>Message from:</h3>
<ul>
	<li>First name: {{name}}</li>
	<li>Last name: {{lastname}}</li>
	<li>Phone: {{phone}}</li>
	<li>Email: {{email}}</li>
</ul>
<hr />

<pre>{{body}}</pre>

<hr />
<a href="http://www.canticumnovum.org.za/">
<img
        moz-do-not-send="false"
		src="http://www.canticumnovum.org.za/images/email_footer.jpg"
		title="http://www.canticumnovum.org.za" alt="Canticum Novum"
        width="420" height="90" border="0"></a>
</body>
	{% endblock %}
</html>
