{% extends 'base.html.twig' %}

{% block title %}Canticum Novum | Contact{% endblock %}
{% block body %}
	<!--Header-->
	{% include 'header.html.twig' %}

	<!--Main-->
	<div id="main">
		<div id="content" class="container">
		</div>
	</div>

	<!--Footer-->
	{% include 'footer.html.twig' %}
{% endblock %}