<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{asset('js/skel.min.js')}}"></script>
		<script src="{{asset('js/skel-panels.min.js')}}"></script>
		<script src="{{asset('js/init.js')}}"></script>
		<script src="{{asset('js/main.js')}}"></script>
		<noscript>
			<link rel="stylesheet" href="{{asset('css/skel-noscript.css')}}" />
			<link rel="stylesheet" href="{{asset('css/style.css')}}" />
			<link rel="stylesheet" href="{{asset('css/style-desktop.css')}}" />
			<link rel="stylesheet" href="{{asset('css/app.css')}}" />
		</noscript>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
