
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>{{'get_in_touch'|trans}}</h2>
				<span class="byline">{{'social_media'|trans}}</span>
			</header>
			<ul class="contact">
				<li><a href="https://twitter.com/canticumstb" target="_blank"  rel="noopener noreferrer" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li class="active"><a href="https://www.facebook.com/canticumnovumstellenbosch/" target="_blank"  rel="noopener noreferrer" class="fa fa-facebook"><span>Facebook</span></a></li>
			</ul>
		</section>
	</div>
	<div class="container">
		<ul class="contact">
			<li><a href="{{path('home')}}" >{{'home'|trans}}</a></li></br>
			<li><a href="{{path('about')}}" >{{'about'|trans}}</a></li></br>
			<li><a href="{{path('contact')}}" >{{'contact'|trans}}</a></li></br>
		</ul>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		{{'design'|trans}}: J&uuml;rgen Loff {{'copyright'|trans}} &copy; 2019 Canticum Novum
	</div>
</div>